<?xml version="1.0" encoding="UTF-8"?>
<!--
  ~       Copyright© (2018) WeBank Co., Ltd.
  ~
  ~       This file is part of weidentity-java-sdk.
  ~
  ~       weidentity-java-sdk is free software: you can redistribute it and/or modify
  ~       it under the terms of the GNU Lesser General Public License as published by
  ~       the Free Software Foundation, either version 3 of the License, or
  ~       (at your option) any later version.
  ~
  ~       weidentity-java-sdk is distributed in the hope that it will be useful,
  ~       but WITHOUT ANY WARRANTY; without even the implied warranty of
  ~       MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  ~       GNU Lesser General Public License for more details.
  ~
  ~       You should have received a copy of the GNU Lesser General Public License
  ~       along with weidentity-java-sdk.  If not, see <https://www.gnu.org/licenses/>.
  -->

<beans xmlns:context="http://www.springframework.org/schema/context"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns="http://www.springframework.org/schema/beans"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context-3.0.xsd">
  <context:component-scan base-package="com.webank.weid"></context:component-scan>
</beans>
