.tables{
  font-family:Arial, Helvetica, sans-serif;
  font-size: 14px;
  border: 2px solid #e1e4e5;
}

.tables tbody tr th{
  height:40px;
  padding:8px 12px;
  background-color: #f8f8f9;
}

.tables tbody tr td{
  padding:8px 12px;
}

.tables tbody tr:nth-child(odd) td{
  background:#f3f6f6;
}

.rst-content img{
  margin:5px;
}